127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Dynamically generated list of hosts
{% for host in groups['all'] %}
{% if host != 'localhost' %}
{{ hostvars[host]['ansible_default_ipv4']['address'] }} {{ host }} {{ host }}.{{ hostvars[host]['ansible_domain'] }}
{% endif %}
{% endfor -%}
